---
interface Props {
  description: string;
  minValue?: number;
  value?: number;
  icon?: string;
}
const { description = "", minValue = 0, value = 0, icon = "" } = Astro.props;
---

<li class=`step ${value >= minValue ? 'step-primary' : ''}` data-content="" title={value  + "/100"}>
  <div class="flex flex-row gap-4 items-center text-2xl px-2" title={minValue + "/100 " + description}>
    <i class={icon + " w-8"}></i>
    {description}
  </div>
</li>
