@import 'tailwindcss';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
	--background: var(--color-neutral-950);
	--foreground: var(--color-neutral-50);
	--foreground-muted: var(--color-neutral-500);
	--card: var(--color-neutral-900);

	--primary: var(--color-indigo-800);
	--primary-lightend: var(--color-indigo-700);

	--border-radius: 0.5rem;
}

label {
	font-size: var(--text-sm);
}

textarea {
	field-sizing: content;
	min-height: 8rem;
}

input,
select,
textarea,
.btn {
	border-radius: var(--border-radius);
}

button {
	cursor: pointer;
}

.btn {
	border-color: var(--primary);
	width: fit-content;
	padding: 0.5rem 1rem;
}

.btn:hover {
	border-color: var(--primary-lightend);
}

.btn:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.btn-primary {
	background-color: var(--primary);
	color: white;
}

.btn-secondary {
	border: 1px solid var(--primary);
	color: var(--primary);
}

.btn-tertiary {
	color: var(--primary);
}
